.text-animate {
    display: inline-block;
    opacity: 0;
    min-width: 10px;

    .text-animate-hover {
        min-width: 10px;
        display: inline-block;

        &:hover {
            color: #ffd700;
        }
    }
}