@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
    margin-top: 10%;
    border-radius: 5px;

    .login-form-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        padding: 2rem;
        padding-top: 1rem;
        min-height: 320px;
        min-width: 270px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    
        a, a:visited {
            color: #fff;
        }
        
        input[type="text"],
        input[type="password"],
        button,
        textarea {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        padding: 0.25rem;
        border-radius: 0.2rem;
        }
        
        label {
            color: #fff;
        }
            
        label,
        button {
            font-size: 15px;
            margin-top: 1rem;
        }
            
        .btn {
            margin-top: 20px;
            padding: 0.2rem;
            font-style: 'Nunito', sans-serif;
            font-size: 16px;
            font-weight: 300;

            &:hover {
                background-color: #ffd700;
                color: #333;
            }
        }
    }

}





.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}