
// Center a div
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 250px;
    margin-top: calc(300px / -2);
    margin-left: calc(350px / -2);
    justify-content: center;
    color: #fff;
}

.login-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.submit-button {
    width: 50%;
    height: 25px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 25%;
}

.form-login {
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 8px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                width: 100%;
                height: 25px;
                padding: 0;
                margin: 0;
                border: 1px solid #333;
                border-radius: 3px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                font-family: sans-serif;
                color: #333;
                background-color: #fff;
                outline: none;

                &:focus {
                    border: 1px solid #ffd700;
                    box-shadow: 0 0 5px #ffd700;
                }
            }
        }
    }
}